[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
selenium = "*"
pandas = "*"
nfl-data-py = "*"
charset-normalizer = "*"
bs4 = "*"
espn-api = "*"

[dev-packages]

[requires]
python_version = "3.8"
