<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <p>
      This email is for recovering the password of {{ username }}. If this is not you then you can safely ignore this
      message
    </p>
    
    <a href="{{ frontend_url }}"">Follow this link to change your password.</a>
  </body>
</html>
